<<<<<<< HEAD
 *{
    margin: 0;
    padding: 0;
} 

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #ffffff;
    background: darkgray;
    line-height: 1.6em;

}
a{
    color: #ffffff;
    text-decoration: none;
}
h1{
    text-align: center;
    margin-bottom: 20px;
}
#container{
    width: 980px;
    margin:40px auto;
    overflow: hidden;
}
#slider{
    width: 940px;
    height: 350px;
    position: relative;
    overflow: hidden;
    float: left;
    padding: 3px;
    border: #666 solid 2px;
    border-radius: 5px;
}
slider img{
    width: 940px;
    height: 350px;
}
.slide{
    position: absolute;
}
.slide-copy{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    background: red;
    background: rgb(0, 0, 0,0.5);
}

#prev, #next{
    float: left;
    margin-top: 130px;
    cursor: pointer;
    position: relative;
    z-index: 100;
}
#prev{
    margin-right:-430px;
}
#next{
    margin-left:-71px;
=======
body{
    background: orangered;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

}

#container{
    width: 60%;
    background: blue;
    margin: 20px auto;
    overflow: auto;
    padding: 25px;
}
header{
    text-align: center;
    border-bottom: white dashed 1px;
}
header h1{
    margin: 0;
    padding: 0;
}
header p{
    padding: 0;
    margin-top: 5px;
    color: black;
}
section{
    min-height: 400;
}
footer{
    text-align: center;
}
input[type='submit']{
    background: orangered;
    border: 0;
    padding: 10px 15px;
    cursor: pointer;
}
#results h3{
    background: orangered;
    padding: 10px;
    margin: 10px 0;

}
#results span{
    color:black;
    font-weight: bold;
>>>>>>> 79c6238f03845f17afa92056c28bb3e5bff117ec
}